{% extends "base.html" %}

{% block announce %}
A rebrand's coming soon! Check out the <a href="/updates/2024/06/25/rebrand-coming-soon.html"><strong>the rebrand announcement post</strong></a> for the rebrand date, breaking changes involved with it, and what to expect.
{% endblock %}

<!-- Site title -->
{% block htmltitle %}
{% if page.is_homepage %}
  <title>{{ config.site_name }}</title>
{% elif page.meta and page.meta.title %}
  <title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
  <title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}