{% extends "base.html" %}

{% block announce %}
Like visual changes? We have plenty! Check out the <a href="/updates/2026/01/26/update-post---late-january-2026.html"><strong>Early January 2026 update post</strong></a> to see what's been polished.
{% endblock %}

<!-- Site title -->
{% block htmltitle %}
{% if page.is_homepage %}
  <title>{{ config.site_name }}</title>
{% elif page.meta and page.meta.title %}
  <title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
  <title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}
