{% extends "base.html" %}

{% block announce %}
Check out the <a href="/updates/2024/10/07/update-post---early-october-2024.html"><strong>Early October 2024 update post</strong></a> for an upcoming command rename and new (minor) features!
{% endblock %}

<!-- Site title -->
{% block htmltitle %}
{% if page.is_homepage %}
  <title>{{ config.site_name }}</title>
{% elif page.meta and page.meta.title %}
  <title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
  <title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}
