{% if config.extra.analytics %}
  {% set property = config.extra.analytics.property | d("", true) %}
{% endif %}

{% if property %}
  <script id="__analytics">
    function __md_analytics() {
      var script = document.createElement("script");
      script.defer = true;
      script.src = "https://static.cloudflareinsights.com/beacon.min.js";
      script.setAttribute("data-cf-beacon", '{"token": "{{ property }}"}');

      var container = document.getElementById("__analytics")
      container.insertAdjacentElement("afterEnd", script)
    }
  </script>
{% endif %}
