{% if config.extra.analytics %}
  {% set property = config.extra.analytics.property | d("", true) %}
  {% set url = config.extra.analytics.url | d("", true) %}
{% endif %}

{% if property %}
  <script id="__analytics">
    function __md_analytics() {
      var script = document.createElement("script");
      script.async = true;
      script.src = "{{ url }}";
      script.setAttribute("data-website-id", "{{ property }}");

      var container = document.getElementById("__analytics")
      container.insertAdjacentElement("afterEnd", script)
    }
  </script>
{% endif %}