[data-md-color-primary=deep-purple] {
    --md-primary-fg-color: #723fb0;
    --md-primary-fg-color--light: #723fb0;
    --md-primary-fg-color--dark: #723fb0;
    --md-accent-fg-color: #9251e2;
}

[data-md-color-scheme=slate] {
    --md-default-bg-color: rgb(30, 33, 41);
}

.md-header, .md-tabs {
    background-color: rgba(114, 63, 176, 0.95);
}

[data-md-color-scheme=slate] .md-tabs {
    color: #fff;
}
